/*.suo
/CCNetConfig/*.user
/CCNetConfig.Tests/*.user
/CCNetConfig.Updater.Core/*.user
/CCNetConfig.Updater/*.user
/CCNetConfig.BugTracking/*.user
/CCNetConfig.CCNet/*.user
/CCNetConfig.Core/*.user
/CCNetConfig/*.user
/bin
/CCNetConfigSetup/bin
/CCNetConfig.Tests/bin
/CCNetConfig/bin
/CCNetConfigSetup/obj
/CCNetConfig.Tests/obj
/CCNetConfig.Updater.Core/obj
/CCNetConfig.Updater/obj
/CCNetConfig.BugTracking/obj
/CCNetConfig.CCNet/obj
/CCNetConfig.Core/obj
/CCNetConfig/obj
